<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Host" value="0.0.0.0" />
		<add key="Port" value="5432" />
		<add key="Database" value="idlelands" />
		<add key="User" value="idlelands" />
		<add key="Password" value="idlelands" />
		<add key="UpdateOrTruncate" value="None" />
	</appSettings>
	<startup>
    	<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  	</startup>
</configuration>