akka {  
    log-config-on-start = on
    stdout-loglevel = DEBUG
    loglevel = DEBUG
    actor {
    	serializers {
    		json = "Akka.Serialization.NewtonSoftJsonSerializer"
    	}

    	serialization-bindings {
    		"IdleLandsRedux.GameLogic, GameLogic" = json
    	}

        provider = "Akka.Remote.RemoteActorRefProvider, Akka.Remote"
        
        debug {  
          receive = on 
          autoreceive = on
          lifecycle = on
          event-stream = on
          unhandled = on
        }
        deployment {
            /remoteactor {
                router = round-robin-pool
                nr-of-instances = 5
                remote = "akka.tcp://WorkerSystem1@localhost:8090"
            }
        }
    }
    remote {
        helios.tcp {
		    port = 8080
		    hostname = localhost
        }
    }
}